<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    
    <!-- Iconos bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Iconos fas fa -->
    
    <title>Pastelería Konichiwa</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <img class="logo" src="../img/logo.png" alt="Logo" width="40px" height="40px">
        <label>Bienvenido Pastelería Konichiwa</label>
        <div class="">
          <a class="nav-link link-secondary" href=""> Salir <span class="glyphicon glyphicon-log-in"></span></a>
        </div>
      </nav>
    </header>

    <main class="m-5 pl-5 pr-5">
      <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h2">Administrador de pedidos</h1>
          <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-primary btn-sm" >
                <i class="fas fa-award-plus"></i> Crear premio
              </button>
            </div>
          </div> -->
        </div>
        <div class="table-responsive table-style pl-5 pr-5 table-fondo">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>
                    <div>N°</div>
                    </th>
                    <th>
                    <div>Nombre</div>
                    </th>
                    <th>
                    <div>Teléfono</div>
                    </th>
                    <th>
                    <div>Correo electronico</div>
                    </th>
                    <th>
                    <div>Acciones</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div>1</div>
                    </td>
                    <td>
                        <div>Laura Garcia</div>
                    </td>
                    <td>
                        <div>5513131313</div>
                    </td>
                    <td>
                      <div>lau2222@gmail.com</div>
                    </td>
                    <td class="flex">
                        <button type="button" class="btn btn-sm btn-primary">Ver pastel</button>
                        <select class="form-control  ml-2" id="status2" style="width:40%">
                            <option value="">Status</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Cocinando">Cocinando</option>
                            <option value="Terminado">Terminado</option>
                            <option value="Entregado">Entregado</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>2</div>
                    </td>
                    <td>
                        <div>Maria Tellez</div>
                    </td>
                    <td>
                        <div>5510121012</div>
                    </td>
                    <td>
                        maryTellez@gmail.com<div></div>
                    </td>
                    <td class="flex">
                        <button type="button" class="btn btn-sm btn-primary">Ver pastel</button>
                        <select class="form-control  ml-2" id="status2" style="width:40%">
                            <option value="">Status</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Cocinando">Cocinando</option>
                            <option value="Terminado">Terminado</option>
                            <option value="Entregado">Entregado</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
    </main>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>