<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    
    <!-- Iconos bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Iconos fas fa -->
    
    <title>Pastelería Konichiwa</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <img class="logo" src="../img/logo.png" alt="Logo" width="40px" height="40px">
        <label>Bienvenido Pastelería Konichiwa</label>
        <div class="">
        </div>
      </nav>
    </header>

    <main class="m-5 pl-5 pr-5">
      <div class="container">
        <div class="align-items-center pt-3 pb-2 mb-3">
          <h1 class="h2">¿Estas listo?</h1>
          <h1 class="h4">Comienza a crear tu pastel.</h1>
        </div>
        <div class="row">
          <div class="col div_cuadro mr-2">
            <div class="div_title">
              <label class="text-center">Sabores</label>
              <span class="pb-4">Seleccionar los sabores que deseas:</span>
            </div>
            <div class="pb-3 row">
              <div class="col center_elemt">
                <img class="logo" src="../img/chocolate.jpg" alt="Sabor chocolate" width="80px" height="80px">
              </div>
              <div class="col center_elemt">
                <span>Sabor chocolate</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="chocolate" name="chocolate" value="chocolate" style="margin-top:10px">
              </div>
            </div>
            <div class="pb-3 row">  
              <div class="col center_elemt">
                <img class="logo" src="../img/fresa.jpg" alt="Sabor fresa" width="80px" height="80px"> 
              </div>
              <div class="col center_elemt">
                <span>Sabor fresa</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="fresa" name="fresa" value="fresa" style="margin-top:10px">
              </div>
            </div>
            <div class="pb-3 row">  
              <div class="col center_elemt">
                <img class="logo" src="../img/frambuesa.jpg" alt="Sabor frambuesa" width="80px" height="80px">
              </div>
              <div class="col center_elemt">
                <span>Sabor frambuesa</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="frambuesa" name="frambuesa" value="frambuesa" style="margin-top:10px">
              </div>
            </div>
            <div class="pb-3 row">  
              <div class="col center_elemt">
                <img class="logo" src="../img/vainilla.jpg" alt="Sabor vainilla" width="80px" height="80px">
              </div>
              <div class="col center_elemt">
                <span>Sabor vainilla</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="vainilla" name="vainilla" value="vainilla" style="margin-top:10px">
              </div>
            </div>
          </div>
          <div class="col div_cuadro2 ml-2">
            <div class="div_title">
              <label class="text-center">Adornos</label>
              <span class="pb-4">Seleccionar los adornos que deseas</span>
            </div>
            <div class="pb-3 row">
              <div class="col center_elemt">
                <img class="logo" src="../img/adorno1.jpg" alt="Adorno Feliz Cumpleaños" width="80px" height="80px">
              </div>
              <div class="col center_elemt">
                <span>Adorno Feliz Cumpleaños</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="adorno1" name="chocolate" value="adorno1" style="margin-top:10px">
              </div>
            </div>
            <div class="pb-3 row">  
              <div class="col center_elemt">
                <img class="logo" src="../img/adorno2.jpg" alt="Adorno 2" width="80px" height="80px"> 
              </div>
              <div class="col center_elemt">
                <span>Adorno Corazones</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col  center_elemt">
                <input type="checkbox" id="adorno2" name="adorno2" value="adorno2" style="margin-top:10px">
              </div>
            </div>
            <div class="pb-3 row">  
              <div class="col center_elemt">
                <img class="logo" src="../img/adorno3.jpg" alt="Adorno Mar" width="80px" height="80px">
              </div>
              <div class="col center_elemt">
                <span>Adorno Mar</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="adorno3" name="adorno3" value="adorno3" style="margin-top:10px">
              </div>
            </div>
            <div class="pb-3 row">  
              <div class="col center_elemt">
                <img class="logo" src="../img/adorno4.jpg" alt="Adorno Boda" width="80px" height="80px">
              </div>
              <div class="col center_elemt">
                <span>Adorno Boda</span>
              </div>
              <div class="col text-center center_elemt">
                <span>$200</span>
              </div>
              <div class="col center_elemt">
                <input type="checkbox" id="adorno4" name="adorno4" value="adorno4" style="margin-top:10px">
              </div>
            </div>
          </div>
        </div>
        <div class="div_resumen mx-auto">
          <form id="form1">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="tel">Teléfono</label>
              <input type="tel" class="form-control" id="tel">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="div_detalle">
              <h2>Resumen del pedido:</h2>
              <p>
                Sabores seleccionados:
                <ol>
                  <li>Chocolate. ($200.00)</li>
                  <li>Fresa. ($200.00)</li>
                </ol>
              </p>
              <p>
                Adornos seleccionados:
                <ol>
                  <li>Feliz cumpleaños. ($200.00)</li>
                  <li>Mar. ($200.00)</li>
                </ol>
              </p>
              <div class="div_total">
                <span>Total: $800.00</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" style="margin-left: 30vw">Enviar pedido</button>
          </form>
        </div>

        
      </div>
    </main>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>

<!--div id="Menu2">
  <ul>
    <li>
      <a class="current" href="index.html">Inicio</a>
      <span> | </span>
    </li>
    <li>
      <a href="juegos.html">Catalogo</a>
      <span> | </span>
    </li>
    <li>
      <a href="vender.html">Vender</a>
      <span> | </span>
    </li>
    <li>
      <a href="nosotros.html">Nosotros</a>
      <span> | </span>
    </li>
    <li>
      <a href="ubicanos.html">Ubicanos</a>
      <span> | </span>
    </li>
    <li>
      <a href="contacto.html">Contacto</a>
    </li>
  </ul>
</div-->
